@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$sans : 'Open Sans', sans-serif;
$shadeWhite : rgba(255, 255, 255, 0.1);
$lightGreen : #1EDB75;
$darkgreen : #4FBF3D;