@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.header {
  font-family: "Open Sans", sans-serif;
  padding: 0.4rem 2rem;
  display: flex;
  align-items: center;
}
.header img {
  width: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.4rem;
}
@media (max-width: 492px) {
  .header {
    padding: 1rem;
  }
}

.hero {
  background-image: linear-gradient(45deg, #4FBF3D, #1EDB75);
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  text-align: center;
  font-size: 4rem;
}
@media (max-width: 866px) {
  .hero__title {
    font-size: 3rem;
  }
}
@media (max-width: 492px) {
  .hero__title {
    font-size: 1.7rem;
    font-weight: bold;
  }
}
.hero__desc {
  margin-top: 1rem;
  font-size: 2rem;
}
@media (max-width: 976px) {
  .hero__desc {
    text-align: center;
    padding: 0 1rem;
  }
}
@media (max-width: 866px) {
  .hero__desc {
    font-size: 1.3rem;
  }
}
@media (max-width: 492px) {
  .hero__desc {
    font-size: 1rem;
  }
}
@media (max-width: 866px) {
  .hero {
    height: 20rem;
  }
}
@media (max-width: 492px) {
  .hero {
    height: 17rem;
  }
}

.supported_devices {
  margin: 4rem auto;
  border-radius: 3rem;
  background-color: #111111;
  max-width: 1300px;
  padding: 3rem;
}
.supported_devices__title h1 {
  color: #4FBF3D;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.supported_devices__title h1::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 1rem;
  background-color: #4FBF3D;
  top: 50%;
  transform: translateX(0.7rem);
}
@media (max-width: 976px) {
  .supported_devices__title h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 492px) {
  .supported_devices__title h1 {
    font-size: 1.3rem;
  }
}
.supported_devices__title h2 {
  color: rgba(230, 226, 226, 0.7450980392);
  font-weight: normal;
}
@media (max-width: 976px) {
  .supported_devices__title h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 492px) {
  .supported_devices__title h2 {
    font-size: 1rem;
  }
}
@media (max-width: 976px) {
  .supported_devices__title {
    padding-left: 2rem;
    padding-top: 2rem;
  }
}
@media (max-width: 492px) {
  .supported_devices__title {
    padding-left: 1rem;
  }
}
.supported_devices__list {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}
.supported_devices__list .devices {
  background-color: #242424;
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 42%;
}
.supported_devices__list .devices .devices__info {
  display: flex;
  flex-direction: column;
}
.supported_devices__list .devices .devices__info h2 {
  color: #4FBF3D;
}
@media (max-width: 492px) {
  .supported_devices__list .devices .devices__info h2 {
    font-size: 1.3rem;
  }
}
.supported_devices__list .devices .devices__info span {
  color: #EEEEEE;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
@media (max-width: 492px) {
  .supported_devices__list .devices .devices__info span {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6509803922);
  }
}
.supported_devices__list .devices .devices__info a {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, #4FBF3D, #1EDB75);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  text-align: center;
}
.supported_devices__list .devices .devices__img {
  width: 96px;
  height: 96px;
}
.supported_devices__list .devices .devices__img img {
  width: inherit;
  height: inherit;
}
@media (max-width: 1100px) {
  .supported_devices__list .devices {
    width: 45%;
  }
}
@media (max-width: 866px) {
  .supported_devices__list .devices {
    width: 70%;
  }
}
@media (max-width: 608px) {
  .supported_devices__list .devices {
    width: 80%;
  }
}
@media (max-width: 492px) {
  .supported_devices__list .devices {
    padding: 1rem;
    width: 95%;
  }
}
@media (max-width: 976px) {
  .supported_devices__list {
    margin-top: 2rem;
    gap: 2rem;
  }
}
@media (max-width: 866px) {
  .supported_devices__list {
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    align-items: center;
  }
}
@media (max-width: 976px) {
  .supported_devices {
    padding: 0;
    padding-bottom: 2rem;
    border-radius: 0;
  }
}

hr {
  height: 0.4rem;
  width: 80%;
  margin: 2rem auto 3rem auto;
  background-color: #111111;
  border: none;
  border-radius: 0.3rem;
}

.team {
  margin-bottom: 4rem;
}
.team__heading {
  margin-bottom: 3rem;
}
.team__heading h1 {
  text-align: center;
  color: #4FBF3D;
}
.team__devs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  align-items: center;
}
.team__devs__dev {
  text-align: center;
  display: inline-block;
  height: 10rem;
  width: 10rem;
}
.team__devs__dev img {
  width: 7rem;
  border-radius: 50%;
}
@media (max-width: 492px) {
  .team__devs__dev img {
    width: 4rem;
  }
}
.team__devs__dev__info {
  white-space: nowrap;
}
@media (max-width: 608px) {
  .team__devs__dev__info h1 {
    font-size: 1.5rem;
  }
}
.team__devs__dev__info span {
  color: rgba(240, 255, 255, 0.356);
}
@media (max-width: 608px) {
  .team__devs__dev__info span {
    font-size: 0.9rem;
  }
}
@media (max-width: 492px) {
  .team__devs__dev {
    height: 9rem;
    width: 9rem;
  }
}
@media (max-width: 608px) {
  .team__devs {
    gap: 1rem;
    padding: 0 1rem;
    justify-content: space-evenly;
  }
}
@media (max-width: 492px) {
  .team__devs {
    gap: 1rem;
  }
}

.footer {
  background-color: #111111;
  color: rgba(255, 255, 255, 0.452);
  padding: 0.3rem 2rem;
}
.footer a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.452);
  font-size: 0.8rem;
}
.footer h4 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.6rem;
}
.footer h4 > a {
  font-size: inherit;
}/*# sourceMappingURL=style.css.map */